.button {
  background-color: var(--background-light);
  color: white;
  padding: 1em 1.75em;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0;
}

.button:hover {
  background-color: var(--background);
}
